<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
</head>

<body>
    <form action="#" method="POST">
        <label for="nameQuestion">Pregunta: </label>
        <input type="text" name="question" id="nameQuestion">
        <label for="true">Verdadero</label>
        <input type="radio" name="answer" id="true" value=true>
        <label for="false">Falso</label>
        <input type="radio" name="answer" id="false" value=false> Puntacion:
        <input type="number" name="" id="points" min="0" max="9">
        <br>
        <input type="button" value="Atras" id="back">
        <input type="button" value="Guardar" id="save">
    </form>
    <div id="register">
        <table>
            <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Puntacion</th>
                <th>Estado</th>
            </tr>
        </table>
    </div>
</body>
<script src="../js/script-saveQuestions.js"></script>

</html>